html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Montserrat  */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-Bold.ttf);
}

/* / Montserrat Medium / */
@font-face {
  font-family: "Montserrat-medium";
  src: url(../fonts/static/Montserrat-Regular.ttf);
}

/* / Montserrat light / */
@font-face {
  font-family: "Montserrat-light";
  src: url(../fonts/static/Montserrat-Light.ttf);
}

/* / AvenirLTStd-Black */
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Book.otf);
}

.montserrat {
  font-family: "Montserrat";
}
.montserrat-medium {
  font-family: "Montserrat-medium";
}
.montserrat-light {
  font-family: "Montserrat-light";
}

.avenir {
  font-family: "Avenir";
}

.article > h1 {
  max-width: 842px;
  color:#FFFFFF;
  font-size: 48px;
  letter-spacing:-0.01em;
  line-height: 135%;
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
}
.article > h1 > span{
  font-size: 48px;
  background: -webkit-linear-gradient(#A1FCE8, #0585F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.article .tab {
  display: flex;
  justify-content: start;
  justify-items: start;
  padding-bottom: 36px;
}
.article .tab > p{
  color: #A3A3A3;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  font-family: "avenir";
  margin-left: 10px;
}
.article .tab > p:hover{
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 600;
}
.article .tab img{
  margin-left: 10px;
}
.article > div > h5{
  color: #D4D4D4;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  padding-bottom: 12px;
}

/** Avatar Part */
.article .avatar {
  display: flex;
  justify-content: start;
  justify-items: start;
  padding-top: 32px;
  padding-bottom: 80px;
  cursor: pointer;
}

.article .avatar > div > h1{
  max-width: 287.33px;
  color: #D4D4D4;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  font-style: normal;
  font-family: "Montserrat";
  padding-left: 12px;
}
.article .avatar > div > p{
  max-width: 287.33px;
  color: #A3A3A3;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  font-style: normal;
  font-family: "avenir";
  padding-left: 12px;
}

/** Full Content*/
.article .content {
   display: flex;
   flex-direction: column;
}
.article .content > div{
  width: 100%;
  cursor: pointer;
}
.article .content > div > img{
 max-width: 883px;
 border-radius: 8px;
}
.article .content > div > h1{
  max-width: 883px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  font-style: normal;
  font-family: 'Montserrat';
  letter-spacing: -0.02em;
  padding-top: 40px;
  padding-bottom:16px;
}
.article .content > div > p{
  max-width: 883px;
  color: #D4D4D4;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  font-family: 'avenir';
  letter-spacing: -0.01em;
  padding-bottom: 24px;
}

/** Additional Reading*/
.article .addRead {
 background-color: #171717;
 border-style: dashed;
 border-width: 2px;
 border-color: #0585F2;
 margin-bottom: 60px;
}
.article .addRead > div > h1{
  max-width: 835px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  font-style: normal;
  font-family: 'montserrat';
  letter-spacing: -0.02em;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-top: 24px;
}

.article .addRead > div > p{
  max-width: 835px;
  color: #D4D4D4;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
  font-family: 'avenir';
  padding-bottom: 24px;
  padding-left: 24px;
}
.article .addRead > div > p > span{
  color:#0585F2 ;
  cursor: pointer;
}






 

